mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" enctype="multipar/form-data" class="card")
    label(for="name") Name 
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description" class="text-area" style="resize:vertical")= store.description
    label(for="address") Address 
    input(type="text" id="address" name="location[address]" value=store.location.address)
    - const choices = ['wifi', 'open late', 'family friendly', 'vegetarian', 'licensed']
    - const selectedTags = store.tags || []
    ul.tags 
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(selectedTags.includes(choice)))
          label(for=choice)= choice
    input(type="submit", value="Save" class="button")
