mixin reviewForm(store)
  form.reviewer(action=`/reviews/${store._id}`, method="post")
    textarea(name="text", style="resize:vertical", class="text-area", placeholder="Did you try this place? Have something to say? Leave a review...")
    .reviewer__meta 
      .reviewer__stars
        each num in [5,4,3,2,1]
          input(type="radio", name="rating", id=`star${num}`, value=num, required)
          label(for=`star${num}`) #{num} Stars
      input.button(type="submit", value="Submit Review ➡️")